@using Microsoft.Extensions.Options
@using SenseNet.IdentityServer4.Configuration
@model ForgottenPasswordInputModel

<div class="page row">
    <div class="column">
        <div class="page-content">
            <div class="card">
                <div class="card-header">
                    <figure class="logo-wrapper">
                        <a href="https://sensenet.com" target="_blank">
                            <img class="logo" src="/images/sensenet-logo.png" alt="sensenet logo" />
                            <figcaption class="logo-caption">sensenet</figcaption>
                        </a>
                    </figure>
                </div>

                <div class="card-body">
                    <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
                            <img class="icon" src="/images/left-arrow.svg" alt="back" />
                    </a>

                    <h1 class="card-title">Forgotten password</h1>

                    <p>
                        <strong>You have initiated a password change request for @Model.Username in the
                            repository</strong>
                    </p>

                    <p class="text-center">
                        <a href="@Model.SnRepositoryUrl"
                            target="_blank"><strong>@Model.SnRepositoryUrl</strong></a>
                    </p>

                    <p>
                        If the provided email exist in our system, you should receive an email to the address you
                        provided. Please click on the link in that email to change your password.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>