@using Microsoft.Extensions.Options
@using SenseNet.IdentityServer4.Configuration
@model ForgottenPasswordInputModel
@inject IOptions<LoginPageOptions> LoginOptions;
@{
    var loginConfig = LoginOptions.Value;
}

<div class="page row">
    <div class="column">
        <div class="page-content">
            <div class="card">
                <div class="card-header">
                    <figure class="logo-wrapper">
                        <a href="https://sensenet.com" target="_blank">
                            <img class="logo" src="/images/sensenet-logo.png" alt="sensenet logo" />
                            <figcaption class="logo-caption">sensenet</figcaption>
                        </a>
                    </figure>
                </div>

                <form asp-route="ForgottenPassword" id="ForgottenPassword">
                    <div class="card-body">
                        <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
                            <img class="icon" src="/images/left-arrow.svg" alt="back" />
                        </a>

                        <h1 class="card-title">Forgotten password</h1>
                        <input type="hidden" asp-for="ReturnUrl" />

                        <div class="form-error">
                            <partial name="_ValidationSummary" />
                        </div>

                        <fieldset class="form-fieldset">
                            <div class="input-group @(@ViewData.ModelState["Username"] != null && @ViewData.ModelState["Username"].Errors.Count > 0 ? "field-validation-error": "")">
                                <span class="input-group-prepend"><img src="/images/at.svg" alt="username"></span>
                                <input class="form-control" autofocus asp-for="Username"
                                    placeholder="yours@example.com">
                            </div>
                        </fieldset>
                    </div>

                    <button class="btn btn-block btn-primary card-button" name="button" value="sendmail">
                        <span class="btn-animation">Send mail</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
