@use '../variables';

$border-radius: 6px;

.form {
    &-fieldset {
        padding: 0;
        border: 0;
    }

    &-control {
        flex: 1 1 auto;
        height: 35px;
        border: 1px solid variables.$gray;
        border-radius: $border-radius;
        padding: 5px 10px;
        outline-color: variables.$primary;

        &::placeholder {
            font-size: 12px;
        }
    }

    &-error {
        display: flex;
        justify-content: center;
        font-size: 0.8rem;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        font-weight: 600;
    }

    &-label {
        margin: 0.5rem 0;
    }
}

.field-validation-error {
    .input-group-prepend {
        background: variables.$danger-light;
        color: variables.$danger;
        border-color: variables.$danger;
        border-right: 0;
    }


    .form-control {
        outline: 0;
        border-left: 0;
        border-color: variables.$danger;
    }
}


.input-group {
    display: flex;
    margin: 0.5rem 0;

    &-prepend {
        display: flex;
        align-items: center;
        padding: 0.25rem 0.7rem;
        background-color: variables.$gray-light;
        border: 1px solid variables.$gray;
        border-radius: $border-radius 0 0 $border-radius;

        + .form-control {
            border-left: 0;
            border-radius: 0 $border-radius $border-radius 0;
        }

        img {
            height: 13px;
        }
    }

    &--column {
        flex-direction: column;
    }
}
