<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <!-- [subject]:"sensenet registration [SUCCESS]" -->
</head>
<body>
    <div style="text-align: center;padding: 10px;padding-top:30px">
        <div style="width: 600px;margin: 0 auto;
                    text-align: left; 
                    font-family: Roboto, Arial, Helvetica, sans-serif;
                    color: #757575;
                    font-size: 16px;
                    line-height: 150%;">
            <div style="text-align: center">
                <span style="background-color: white;">
                    <img src="https://github.com/SenseNet/sn-resources/blob/master/images/sn-icon/sensenet-icon-64.png?raw=true" alt="sensenet logo" />
                </span>
            </div>
            <div style="padding: 10px">
                <h1 style="font-size: 16px">A new user has registered to sensenet!</h1>
                <br />
                <div>Email: {Email}</div>
                <br />
                <div>Good luck!</div>
                <br />
                <div>regards,<br />sensenet DevOps</div>
            </div>
            <br/>
            <br/>
            <div style="width: 100%;clear: both;display:block;text-align: center;border-top: solid 1px #cfcfcf;margin-top: 20px;padding: 10px;margin: 20px 10px 10px">
                <table style="margin: 0 auto">
                    <tr>
                        <td style="padding: 10px">
                            <a href="https://github.com/SenseNet">
                                <img width="24" src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-gray-github-48.png" />
                            </a>
                        </td>
                        <td style="padding: 10px">
                            <a href="https://docs.sensenet.com/">
                                <img width="24" src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-gray-link-48.png" />
                            </a>
                        </td>
                        <td style="padding: 10px">
                            <a href="https://www.linkedin.com/company/sense-net-inc/about/">
                                <img width="24" src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-gray-linkedin-48.png" />
                            </a>
                        </td>
                        <td style="padding: 10px">
                            <a href="https://medium.com/sensenet">
                                <img width="24" src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-gray-medium-48.png" />
                            </a>
                        </td>
                    </tr>
                </table>
                <div style="font-size: 12px">
                    <em>Copyright © 2022 Sense/Net, All rights reserved.</em>
                </div>
            </div>
        </div>
    </div>
</body>
</html>